body {
    background-color: #83c5be;
    color: black;
    margin: 0;
    /* background-size: cover;
    background-position: center; */
}

div > .image {
    display: flex;
    width: 250px;
    height: 250px;
    padding: 2px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    float: left;
    border: 5px solid black;
} 

button {
    margin: 10px;
    color: black;
    background: #e29578;
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 10px;

}

h1 {
    text-align: center;
}
 
.menuButtons { 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.menuItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-shrink: inherit;
    word-wrap: break-word;
}