body {
    background-color: honeydew;
}

.title {
    font-size: 1.5rem;
    color: #457b9d;
}

.button {
    background-color: #a8dadc;
    font-size: 1.1rem;
}

label {
    font-size: 1.5rem;
}

.textBox {
    font-size: 1.1rem;
    width: 45%;
}

@media (max-width: 480px) {
    body {
        display: flex;
        font-size: 1.2rem;
    }
}